:root {
  --btn-color: #596D48;
  --border-color: #E5E7EB;
}

main {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  gap: 50px;
}

.image {
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 35vw;
}

.logo-img {
  position: absolute;
  top: 100px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.content {
  display: flex;
  gap: 50px;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
}

p {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
}

legend {
  font-size: 28px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 50px;
}

fieldset {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

input {
  width: 15vw;
  border-radius: 10px;
  border: 5px solid var(--border-color);
}

input:focus {
  border-color: var(--btn-color);
}

button {
  margin-top: 50px;
  background-color: var(--btn-color);
  color: #E5E7EB;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.foot {
  font-size: 15px;
  font-weight: bold;
}

a {
  color: var(--btn-color);
  text-decoration: none;
}

@media (max-width: 1200px) {
  main {
    justify-content: center;
  }

  .image {
    display: none;
  }
}